* {
    display: inline-block;
    position: relative;
    margin: 0;
    border: 0;
    background: gray;
}

title {
    width: 100%;
    font-weight: bolder;
    font-size: 50px;
    display: block;
    margin-left: 40px;
}

header {
    width: 100%;
    font-weight: bolder;
    font-size: 50px;
    display: block;
}

body {
    text-align: center;
}

.download {
    position: absolute;
    top: -40px;
    right: 30px;
    width: 200px;
    height: 70px;
    background: red;
    text-align: center;
}

.download > a {
    background: red;
    top: 30%;
    color: white;
    text-decoration: red;
}

.download:hover {
    cursor: pointer;
}

.art_section {
    width: 21%;
    border: solid black 2px;
    margin: 20px;
    text-align: center;
    background: white;
    height: 1170px;
    overflow: hidden;
}

.art_link {
    width: 100%;
    background: white;
}

.art_title {
    font-weight: bolder;
    font-size: 30px;
    background: white;
    color: black;
}

.art_image {
    width: 300px;
    height: 400px;
    display: block;
    margin: 10px auto 10px auto;
    border: solid black 2px;
    background: white;
}

.art_p {
    margin: 5px;
    background: white;
    overflow: hidden;
}

.page_section {
    width: 90%;
    border: solid black 2px;
    margin: 20px;
    text-align: center;
    background: white;
    height: 1050px;
    overflow: hidden;
}

.page_link {
    width: 60%;
    background: white;
}

.page_title {
    font-weight: bolder;
    font-size: 40px;
    background: white;
    color: black;
}

.page_p {
    margin: 5px;
    background: white;
    overflow: hidden;
}